.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  grid-template-areas: "a b c";
  justify-items: center;
}

.box1 {
  grid-area: a;
}

.box2 {
  grid-area: b;
}

.box3 {
  grid-area: c;
}
