@import url("https://fonts.googleapis.com/css2?family=Nunito&family=PT+Serif&display=swap");

/* Config variables */
$green: rgb(60, 179, 113); // mediumseagreen
$light-green: rgb(144, 238, 144); // lightgreen
$dark-grey: #3a4a3f;
$light-grey: #9db0a3;
$dark-blue: #007abb;
$light-blue: #00aff4;
$blue-gradient: linear-gradient(90deg, rgba(0, 122, 187, 1) 0%, rgba(0, 175, 244, 1) 100%);

$padding: 1rem;
